<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointment</servlet-name>
        <servlet-class>BookAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogout</servlet-name>
        <servlet-class>UserLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointment</servlet-name>
        <servlet-class>CancelAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserProfile</servlet-name>
        <servlet-class>UpdateUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageAppointment</servlet-name>
        <servlet-class>AdminManageAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCancelAppointment</servlet-name>
        <servlet-class>AdminCancelAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateUser</servlet-name>
        <servlet-class>AdminUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogout</servlet-name>
        <servlet-class>DoctorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctor_Logout</servlet-name>
        <servlet-class>Doctor_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorManageAppointment</servlet-name>
        <servlet-class>DoctorManageAppointment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <servlet-class>UpdateDoctorProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminUpdateDoctorData</servlet-name>
        <servlet-class>adminUpdateDoctorData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServ</servlet-name>
        <servlet-class>InsertServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>AddDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminProfile</servlet-name>
        <servlet-class>UpdateAdminProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAppointment</servlet-name>
        <servlet-class>DeleteAppointment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <!--        <url-pattern>/UserRegisster</url-pattern>-->
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointment</servlet-name>
        <url-pattern>/BookAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/UserLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointment</servlet-name>
        <url-pattern>/CancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserProfile</servlet-name>
        <url-pattern>/UpdateUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageAppointment</servlet-name>
        <url-pattern>/AdminManageAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCancelAppointment</servlet-name>
        <url-pattern>/AdminCancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateUser</servlet-name>
        <url-pattern>/AdminUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogout</servlet-name>
        <url-pattern>/DoctorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctor_Logout</servlet-name>
        <url-pattern>/Doctor_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorManageAppointment</servlet-name>
        <url-pattern>/DoctorManageAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorProfile</servlet-name>
        <url-pattern>/UpdateDoctorProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminUpdateDoctorData</servlet-name>
        <url-pattern>/adminUpdateDoctorData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServ</servlet-name>
        <url-pattern>/InsertServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminProfile</servlet-name>
        <url-pattern>/UpdateAdminProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAppointment</servlet-name>
        <url-pattern>/DeleteAppointment</url-pattern>
    </servlet-mapping>
</web-app>
